@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    font-family: 'Courier Prime', monospace;
    /* background-color: #bcc6f2; */
    background-color: #c1d8f0;
}
img.insignia {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: contain; 
    display: block;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
}
#welcome-text {
    text-align: center;
    max-width: 62.5rem;
    margin: 0 auto;
}

.marine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
}
#marine-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap; 
    max-width: 150rem; 
    margin: 2rem auto;
}  
#refresh-button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #929a68;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 80%;
    font-family: 'Courier Prime', monospace;
}
#refresh-button:hover {
    background-color: #4b5320;
}

#reveal-button {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #929a68;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 80%;
    font-family: 'Courier Prime', monospace;
}
#reveal-button:hover {
    background-color: #4b5320;
}
#footer-text {
    margin: 10rem 0 0 2rem;
    width: 55%;
}
#time-day {
    margin: 0 0 0 2rem;
}

#answer-container {
    text-align: center;
}